<!-- templates/similar_images.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Similar Images</title>
</head>
<body>
    <h1>Uploaded Picture</h1>
    <div>
        <img src="{{ url_for('static', filename=uploaded_image.split('static/')[1]) }}" alt="Uploaded Image" style="width:200px;height:auto;">
        <p>{{ uploaded_image }}</p>
    </div>
    <h1>Similar Pictures</h1>
    <div>
        {% for path in similar_images %}
            <div>
                {% if 'uploads/' in path %}
                    <img src="{{ url_for('static', filename=path.split('static/')[1]) }}" alt="Image" style="width:200px;height:auto;">
                {% else %}
                    <img src="{{ url_for('static', filename=path) }}" alt="Image" style="width:200px;height:auto;">
                {% endif %}
                <p>{{ path }}</p>
            </div>
        {% endfor %}
    </div>
    <a href="/">Upload another image</a>
</body>
</html>