<!DOCTYPE html>
<html>
<head>
    <title>Similar Images</title>
</head>
<body>
    <h1>Uploaded Picture</h1>
    <div>
        <img src="{{ url_for('static', filename=uploaded_image.split('static/', 1)[-1]) }}" alt="Uploaded Image" style="width:200px;height:auto;">
        <p>{{ uploaded_image }}</p>
    </div>
    <h1>Similar Pictures</h1>
    <div>
        {% if similar_images %}
            {% for path, similarity in similar_images %}
                <div>
                    <img src="{{ url_for('static', filename=path.split('static/', 1)[-1]) }}" alt="Image" style="width:200px;height:auto;">
                    <p>{{ path }}</p>
                    <p>Similarity: {{ (similarity * 100)|round(2) }}%</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No similar images found.</p>
        {% endif %}
    </div>
    <a href="/">Upload another image</a>
</body>
</html>